<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(AppLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>页面未找到</PageTitle>
        <LayoutView Layout="@typeof(AppLayout)">
            <p class="alert alert-warning">对不起，没有找到与该地址匹配的内容。</p>
        </LayoutView>
    </NotFound>
</Router>

<AntContainer />